<div layout="vertical" layout-fill>
  <md-content>
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section class="jumbotron">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      <h1>STRIVER -> With ♥</h1>
    </section>

    <div ng-repeat="kind in ['1', '2']">
      <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Kind {{kind}}</span>
        </div>
      </md-toolbar>
      <div class="techs" layout-align="center">
        <md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
          <md-card-content>
            <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
            <h3 class="md-title">{{ awesomeThing.title }}</h3>
            <p>{{ awesomeThing.description }}</p>
          </md-card-content>
          <div class="md-action-buttons">
            <md-button ng-href="{{ awesomeThing.url }}">Website</md-button>
          </div>
        </md-card>
      </div>
    </div>

  </md-content>
</div>
