<div layout="vertical" layout-fill>
  <md-content class="fillFull">
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section class="jumbotron">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      <h1>STRIVER -> With ♥</h1>
    </section>


    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>OUR GOODS</span>
      </h2>
    </md-toolbar>
    <md-content>
    <md-list class="goods-container" ng-repeat="category in main.allCategories()">
      <md-subheader class="md-no-sticky">{{category.name}}</md-subheader>
        <md-list-item class="md-3-line md-long-text"
                      ng-repeat="awesomeThing in main.goodsByCategory(category)"
                      ng-click="main.navigateTo(awesomeThing.title, $event)">
          <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
          <div class="md-list-item-text" layout="column">
            <h3 class="md-title">{{ awesomeThing.title }}</h3>
            <p>{{ awesomeThing.description }}</p>
          </div>
          <img class="pull-right md-avatar" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
          <md-divider></md-divider>
        </md-list-item>
    </md-list>
    </md-content>
  </md-content>
</div>
